{%  include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administración</title>
</head>
<body>
{% block headline %}
{% endblock %}
<h1>Administración de proyectos</h1>
{% block content %}

{% endblock %}
</body>
</html>