
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyectos</title>
</head>
<body>
<h1>Lista De Proyectos</h1>

<table class="table table-bordered table-hover table-striped     tablesorter">

    <thead>
    <tr>
    <th> ID </th>
    <th> NOMBRE </th>
    <th> URL </th>
    <th> FECHA CREACION </th>
    <th> STATUS </th>
    <th>   QUIEN TIENE EL PROYECTO?   </th>

    </tr>
    </thead>

{% if qs %}
{% for project in qs %}
<tbody>
 <tr>

     <th>{{ project.idp }}</th>
    <th>{{ project.name }}</th>
     <th>{{ project.URL }}</th>
     <th>{{ project.creation_date }}</th>
     <th>{{ project.status }}</th>
     <th>{{ project.id }}</th>
    <th><a href="/inspector/projectdetail/{{ project.idp }}">+</a></th>

</tr>

</tbody>
    {% endfor %}
</table>


{% else %}
<p> No Projects found.</p>
{% endif %}

</body>
</html>