<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tbody>
<tr>
{% if form %}
{%  for fo in form %}

    <th></th>

{% endfor %}

</tr>
</tbody>
</table>
{% else %}
<p>No chats are available.</p>

{% endif %}

</body>
</html>