<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if pro %}
{% for projectd in pro %}

{{ projectd.status }}

{% endfor %}
{% endif %}



</body>
</html>