{% extends "/root/PycharmProjects/Inspec/main/templates/master.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'main:project_index' %}">Volver</a><br /><br />
<form action="{% url 'main:project_add' %}" method="post">
{% csrf_token %}
{% for field in form %}
<div>
<label>{{ field.label }}</label>
{{ field }}
<div>{{ field.errors }}</div>
</div>
{% endfor %}
<input type="submit" value="Guardar" />
'<tr><th>Name:</th><td><input maxlength="120" name="name" type="text" /></td></tr>\n<tr><th>URL:</th><td><input maxlength="200" name="URL" type="url" /></td></tr>\n<tr><th>Status:</th><td><select name="status">\n<option value="" selected="selected">---------</option>\n<option value="Active">Active</option>\n<option value="inactive">inactive</option>\n</select></td></tr>\n<tr><th>Id:</th><td><select name="id">\n<option value="" selected="selected">---------</option>\n<option value="1">pitalveiro</option>\n<option value="2">Avasquez</option>\n<option value="3">Amarin</option>\n</select></td></tr>\n<tr><th>Fle:</th><td><ul><li><label><input name="fle" type="checkbox" value="1" /> index.php</label></li><li><label><input name="fle" type="checkbox" value="2" /> others.php</label></li><li><label><input name="fle" type="checkbox" value="3" /> people.php</label></li></ul></td></tr>'
</form>
</body>
</html>
{% endblock %}