{% extends "/root/PycharmProjects/Inspec/main/templates/master.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'main:project_index' %}">Volver</a><br /><br />
<form action="{% url 'main:project_edit' form.instance.idp %}" method="post">
{% csrf_token %}
{% for field in form %}
<div>
<label>{{ field.label }}</label>
{{ field }}
<div>{{ field.errors }}</div>
</div>
{% endfor %}
<input type="submit" value="Guardar" />
</form>
</body>
</html>
{% endblock %}