{% extends "/root/PycharmProjects/Inspec/main/templates/master.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Proyectos</h2>
{% for project in projects %}

 {{ project }}

 [<a href="{% url 'main:project_add' %}">Agregar</a>]<br/><br/>
<div>

<a href="{% url 'main:project_view' project.idp %}">Ver</a> |
<a href="{% url 'main:project_edit' project.idp %}">Editar</a> |
<a href="{% url 'main:project_delete' project.idp %}">Eliminar</a>

{% endfor %}
<script type="text/javascript">
function delete_projec(url) {
if(confirm('Seguro eliminar esta proyecto ?')) {
window.location = url;
}
}
</script>
</div>
</body>
</html>
{% endblock %}