{% extends "/root/PycharmProjects/Inspec/main/templates/master.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'main:project_index' %}">Volver</a><br /><br />
<b>Tipo documento:</b> {{ project.id }}<br />
<!-- get_document_type_display -->
<b>Documento:</b> {{ project.idp }}<br />
<b>Nombre:</b> {{ account.full_name }}<br />
<b>Fecha creación:</b> {{ account.created_at|date:"Y-m-d H:i:s" }}<br />
</body>
</html>
{% endblock %}