{% extends "/root/PycharmProjects/Inspec/main/templates/master.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Proyectos</h2>
{% for project in projects %}
[ <a href="{% url 'inspector:project_add' %}">Agregar</a>]<br/><br/>
<div>
[
<a href="{% url 'inspector:project_view' project.id %}">Ver</a> |
<a href="{% url 'inspector:project_edit' project.id %}">Editar</a> |
<a href="{% url 'inspector:project_delete' project.id %}">Eliminar</a>
] {{ project }}




</div>

<div>{{ project }}</div>
{% endfor %}
<script type="text/javascript">
function delete_projec(url) {
if(confirm('Seguro eliminar esta proyecto ?')) {
window.location = url;
}
}
</script>
</body>
</html>
{% endblock %}