<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inspector de código</title>
</head>
<body>
{% block headline %}
<div class="header">
<h1>Inspector de código</h1>

<a href="admin/project/index.html">Inicio</a>
<a href="/main/templates/inspector/index.html">Inspector</a>
<a href="/main/templates/reportes/index.html">Reportes</a>
<a href="/main/templates/admin/index.html">Administración</a>
<a href="cerrar_sesion.html">Cerrar Sesión</a>
</div>
{%  endblock %}

    {% block content %}
        <div class="content container">

        </div>
    {% endblock %}




</body>
</html>