<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspector</title>
</head>
<body style="padding: 20px;">
<h1>Inspector de Código</h1>
<hr/>
{% block content %}

{% endblock %}
</body>
</html>